
.AlumniCardsbody {
      height: 100%;
    margin:0 ;
    padding:2%;
    font-family: sans-serif;
    /* background: linear-gradient(#141e30, #243b55); */
    background: linear-gradient(#870101, #320000);
    /* background: -moz-linear-gradient(left, #ff0000 0%, #700801 100%); */
    /* align-items: center; */
    display: flex;
      justify-content: center;
      align-items: center;
      min-height: 80vh;
  }
  
  .login-box {
    position: relative;
    /* top: 50%;
    left: 50%; */
    
    width: 25%;
    padding: 50px;
    /* transform: translate(-50%, -50%); */
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #ffffff;
    font-size: 12px;
  }
  
  .button_submit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    background-color: #050000;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    border-radius: 20px;
  }
  
  .button_submit:hover {
    background: #320000;
    color: #fd5a5a;
    border-radius: 5px;
    box-shadow: 0 0 5px #fd5a5a,
                0 0 25px #fd5a5a,
                0 0 50px #fd5a5a,
                0 0 100px #fd5a5a;
  }
  
  .button_submit span {
    position: absolute;
    display: block;
  }
  
  .button_submit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fd5a5a);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .button_submit span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fd5a5a);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes  btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .button_submit span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fd5a5a);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes  btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .button_submit span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fd5a5a);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes  btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  