#image-slider{
    width: 100%;
    margin: 0px auto;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 50%;
    position: relative;
    overflow: hidden;
    border: 10px solid white;
    box-shadow: 2px 5px 10px rgba(0,0,0,0.4);
    }
    .heading-image-slider{
        text-align: center;
    }
    .image-slide{
    width:100%;
    
    display:none;
    animation-name:fade;
    animation-duration:1s;
    
    }
    img{
    width:100%;
    }
    @keyframes fade{
    from{opacity:0.5;}
    to{opacity:1;}
    }
    
    .image-controls{
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    font-size:1.5em;
    padding:15px 10px;
    border-radius:5px;
    
    }
    
    .image-controls:hover{
    background:white;
    transition:0.3s;
    }
    
    .image-controls:active{
    color:grey;
    }
    
    #left-arrow{
    left:10px;
    }
    
    #right-arrow{
    right:10px;
    }
    
    #dots-con{
    
    text-align:center;
    }
    .image-controls-dot{
    display:inline-block;
    background:grey;
    padding:8px;
    border-radius:50%;
    margin:10px 5px;
    }
    
    .active{
    background:rgb(7, 67, 213);
    }
    
    @media (max-width:576px){
    #image-slider{width:100%;
    
    }
    
    .image-controls{
      font-size:1em;
    }
    
    #dots-con{
      display:none;
    }
    }